<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/setupstyles.css">
<link rel="stylesheet" href="css/rangeslider.css">
<script src="javascripts/rangeslider.min.js"></script>

<div class="headbar">
	<a href="/" style="text-decoration: none; color: white; padding-left: 30px;">
		<img class="headimage" src="images/newlogo.png">
		<h3 style="display: inline; vertical-align: top; line-height: 40px; padding-left:10px;">Guess the Rise Against Songs</h3>
	</a>
</div>

<div class="container" style="margin-top: 40px;" id="SETUP">
	<div class="row">
		<div class="six columns">
			<h1>Start a New Game</h1>

			<div class="row">
				<div class="twelve columns">
					<button id='fixedtime' onclick="fixedtime()">Time Limit</button>
					<button id='fixednum' class="active" onclick="fixednum()">Infinite Time</button>
				</div>
			</div>
			<div>Number of Songs to Guess</div>
			<div class="row">
				<div class="nine columns">
					
					<input id="numsongs" type="range" class="rangeslider" min="2" max="25" step="1" value="10" data-orientation="vertical">
				</div>
				<div id="numsongs-res" class="three columns result">10</div>
			</div>

			<div>Audio clip length</div>
			<div class="row">
				<div class="nine columns">
					
					<input id="songlen" type="range" class="rangeslider" min="1" max="25" step="1" value="10" data-orientation="vertical">
				</div>
				<div id="songlen-res" class="three columns result">10 sec</div>
			</div>

			<div id="allotted" style="display:none">
				<div>Allotted time</div>
				<div class="row">
					<div class="nine columns">
						
						<input id="playtime" type="range" class="rangeslider" min="15" max="600" step="15" value="180" data-orientation="vertical">
					</div>
					<div id="playtime-res" class="three columns result"></div>
				</div>
			</div>

			<div>Show Album Art?</div>
			<div class="row">
				<div class="onoffswitch">
				    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" style="display:none" checked>
				    <label class="onoffswitch-label" for="myonoffswitch">
				        <span class="onoffswitch-inner"></span>
				        <span class="onoffswitch-switch"></span>
				    </label>
				</div>
			</div>

			<hr>
			<div class="row">
				<button id="startgame" onclick="startgame()" class="button-primary">Start Game</button>
				<button id="startgame" onclick="reset()">Reset to Defaults</button>
			</div>
		</div>

		<div class="six columns">
			<div class="title1">
				Play the Rise Against guessing game
			</div>

			<p>This site allows you to guess what Rise Against song is playing based on a short clip of a random portion of the song.</p>

			<p>A number of settings allow you to mold the game to your preferences and knowledge level.  You can choose how many songs to guess and the duration of each song clip.  In countdown mode, you can choose how long the game lasts for.  For added difficulty, you can choose not to show the album art for each song.</p>

			<p>This game is free and fan-made, and not affiliated with Rise Against in any way.  With questions, comments, suggestions, bug reports, or concerns, please email the creator at anne[at]loverso[dot]org</p>
		</div>
	</div>
</div>

<div class="container" style="margin-top: 40px; display: none;" id="GAME">
	<div class="row">
		<div id="status" class="three columns">
			<div id="statusholder"></div>
			<div id="loadingholder"></div>
		</div>
		<div class="nine columns">
			<div class="row">
				<div class="one-half column">
					<div class="wrap">
						<div class="textdisp" id="score">Score: 0</div>
					</div>
				</div>
				<div class="one-half column">
					<div class="wrap">
						<div class="textdisp" id="timer">Time: 0m0s</div>
					</div>
				</div>
			</div>

			<div id="interaction-unit">
				<div class="row">
					<div class="one-third column">
						<div class="wrap changer">
							<i class="fa fa-step-backward fa-4x clickable" onclick="c.backsong()"></i>
						</div>
					</div>
					<div class="one-third column">
						<div class="wrap">
							<div><img id="albumart" src=""></div>
							<div id="spinn"></div>
						</div>
					</div>
					<div class="one-third column">
						<div class="wrap changer">
							<i class="fa fa-step-forward fa-4x clickable" onclick="c.nextsong()"></i>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="wrap">
						<i id="playpauser" class="fa fa-pause-circle-o fa-5x clickable" onclick="c.playpause()"></i>
					</div>
				</div>

				<div class="row">
					<div class="wrap">
						<form class="guessform" onSubmit="submitGuess()">
							<input id="guess" type="text" placeholder="What's the Song?"></input>
							<input id="submitbutton" class="button button-primary" type="submit" value="Submit"></input>
						</form>
					</div>
				</div>
			</div>

			<button id="giveup-button" onclick="c.giveup()">give up</button>
			<button onclick="c.newgame()" class="button-primary">new game</button>
		</div>
	</div>
</div>

<script src="javascripts/main.js"></script>
