<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/setupstyles.css">
<link rel="stylesheet" href="css/rangeslider.css">
<script src="javascripts/rangeslider.min.js"></script>

<div class="headbar">
	<a href="/" style="text-decoration: none; color: white; padding-left: 30px;">
		<img class="headimage" src="images/newlogo.png">
		<h3 style="display: inline; vertical-align: top; line-height: 40px; padding-left:10px;">Guess the Rise Against Songs</h3>
	</a>
</div>

<div class="container" style="margin-top: 40px;" id="SETUP">
	<div class="row">
		<div class="six columns">
			<h1>Start a New Game</h1>

			<div class="row">
				<div class="twelve columns">
					<button id='timelimit' class="active" onclick="timelimit()">Time Limit</button><button id='infinitetime' onclick="infinitetime()">Infinite Time</button>
				</div>
			</div>
			<div>Number of Songs to Guess</div>
			<div class="row">
				<div class="nine columns">
					
					<input id="numsongs" type="range" class="rangeslider" min="2" max="25" step="1" value="10" data-orientation="vertical">
				</div>
				<div id="numsongs-res" class="two columns result">10</div>
			</div>

			<div>Audio clip length</div>
			<div class="row">
				<div class="nine columns">
					
					<input id="songlen" type="range" class="rangeslider" min="1" max="25" step="1" value="10" data-orientation="vertical">
				</div>
				<div id="songlen-res" class="two columns result">10 sec</div>
			</div>

			<div id="allotted" style="display:none">
				<div>Allotted time</div>
				<div class="row">
					<div class="nine columns">
						
						<input id="playtime" type="range" class="rangeslider" min="15" max="600" step="15" value="180" data-orientation="vertical">
					</div>
					<div id="playtime-res" class="two columns result"></div>
				</div>
			</div>

			<div>Show Album Art?</div>
			<div class="row">
				<div class="onoffswitch">
				    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" style="display:none" checked>
				    <label class="onoffswitch-label" for="myonoffswitch">
				        <span class="onoffswitch-inner"></span>
				        <span class="onoffswitch-switch"></span>
				    </label>
				</div>
			</div>

			<hr>
			<div class="row">
				<button id="startgame" onclick="startgame()" class="button-primary">Start Game</button>
				<button id="startgame" onclick="reset()">Reset to Defaults</button>
			</div>
		</div>

		<div class="six columns">

			<div class="contestmessage">
				<span class="lefticon">
					<i class="lefticon fa fa-trophy fa-4x"></i>
				</span>
				<span>
					Having fun? Ready for the next challenge?
					</br>
					Scroll down to compete in a contest!
				</span>
			</div>

			<div class="title1">
				Play the Rise Against guessing game
			</div>

			<p>Guess which Rise Against song is playing, from a short clip!</p>

			<p>Use the tabs and sliders to choose how many songs you want, how long a clip to listen to, and how much time you have to finish, and whether to show album art for each song.  This game requires a decent internet connection in order to load the audio clips.  Good luck!</p>

			<p>Join a contest to compete against other fans in tournaments (a game with pre-defined configuration).  Get the best score in the fastest time possible to show up on the leaderboard!</p>

			<p style="margin-bottom: 0px;">If you experience technical difficulties:
				<ul style="margin-top:.25rem;">
					<li>Reload the page or try again later</li>
					<li>Ensure that your browser has JavaScript enabled</li>
					<li>Ensure that your browser is updated to the latest version</li>
					<li>Send an email to the address below describing the problem</li>
				</ul>
			</p>

			<p>This game is free and fan-made, and not affiliated with Rise Against in any way.  With questions, comments, suggestions, bug reports, or concerns, please email the creator at anne[at]loverso[dot]org</p>
		</div>
	</div>

	<hr>

	<div class="row">
		<h3>Contest Leaderboards</h3>
		<div class="five columns">
			<button class="button-primary" style="display:inline" onclick="join('extreme')">join</button>
			<h4 style="display:inline">Extreme Mode</h4>
			<span class="dropt"><i style="display:inline" class="fa fa-question-circle"></i><span>Attempt to guess 10 songs in 1 minute, with 1-secong-long clips and no album art</span></span>
			<ul id="extreme">
				<li class="headerrow">
					<span class="namespan">User</span>
					<span class="timespan">Time</span>
					<span class="scorespan">Score</span>
				</li>
			</ul>
		</div>
		<div class="five columns">
			<button class="button-primary" style="display:inline" onclick="join('ordinary')">join</button>
			<h4 style="display:inline">Ordinary Mode</h4>
			<span class="dropt"><i style="display:inline" class="fa fa-question-circle"></i><span>Attempt to guess 10 songs in 3 minutes, with 5-secong-long clips</span></span>
			<ul id="ordinary">
				<li class="headerrow">
					<span class="namespan">User</span>
					<span class="timespan">Time</span>
					<span class="scorespan">Score</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container" style="margin-top: 40px; display: none;" id="GAME">
	<div class="row">
		<div id="status" class="three columns">
			<div id="statusholder"></div>
			<div id="loadingholder"></div>
		</div>
		<div class="nine columns">
			<div class="row">
				<div class="one-half column">
					<div class="wrap">
						<div class="textdisp" id="score">Score: 0</div>
					</div>
				</div>
				<div class="one-half column">
					<div class="wrap">
						<div class="textdisp" id="timer">Time: 0s</div>
					</div>
				</div>
			</div>

			<div id="interaction-unit">
				<div class="row">

					<div class="four columns offset-by-four">
						<div class="wrap">
							<div><img id="albumart" src=""></div>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="two columns offset-by-three">
						<div class="wrap">
							<i class="fa fa-step-backward fa-4x clickable" onclick="c.backsong()"></i>
						</div>
					</div>
					<div class="two columns">
						<div class="wrap">
							<i id="playpauser" class="fa fa-pause-circle-o fa-5x clickable" onclick="c.playpause()"></i>
						</div>
					</div>
					<div class="two columns">
						<div class="wrap">
							<i class="fa fa-step-forward fa-4x clickable" onclick="c.nextsong()"></i>
						</div>
					</div>
					<div class="two columns"></div>
				</div>

				<div class="row">
					<div class="wrap">
						<form class="guessform" onSubmit="submitGuess(event)">
							<input id="guess" type="text" placeholder="What's the Song?"></input>
							<input id="submitbutton" class="button button-primary" type="submit" value="Submit"></input>
						</form>
					</div>
				</div>
			</div>

			<div id="contest-message"></div>

			<button id="giveup-button" onclick="c.giveup()">give up</button>
			<button onclick="c.newgame()" class="button-primary">new game</button>
		</div>
	</div>
</div>

<script src="javascripts/main.js"></script>
