
<!-- <audio id="demo" controls>
  <source id="song" src="audios/satellite.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio> -->
<script src="javascripts/main.js"></script>

<div class="container">
<h2>Guess the Rise Against songs!</h2>

	<div class="row">
		<div id="status" class="three columns">
		</div>
		<div class="nine columns">
			<div class="row">
				<div class="one-half column">
					<div class="wrap">
						<div class="textdisp" id="score">Score: 0</div>
					</div>
				</div>
				<div class="one-half column">
					<div class="wrap">
						<div class="textdisp" id="timer">Time: 0m0s</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="one-third column">
					<div class="wrap changer">
						<i class="fa fa-step-backward fa-4x clickable" onclick="c.backsong()"></i>
					</div>
				</div>
				<div class="one-third column">
					<div class="wrap">
						<div><img id="albumart" src=""></div>
						<div id="spinn"></div>
					</div>
				</div>
				<div class="one-third column">
					<div class="wrap changer">
						<i class="fa fa-step-forward fa-4x clickable" onclick="c.nextsong()"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="wrap">
					<i id="playpauser" class="fa fa-pause-circle-o fa-5x clickable" onclick="c.playpause()"></i>
				</div>
			</div>

			<div class="row">
				<div class="wrap">
					<form class="guessform" onSubmit="submitGuess()">
						<input id="guess" type="text" placeholder="What's the Song?"></input>
						<input id="submitbutton" class="button" type="submit" value="Submit"></input>
					</form>
				</div>
			</div>

			<audio id="demo" preload="auto" autoplay src=""></audio>
			<!-- 
			<div>
			  <button onclick="$('demo').play()">Play the Audio</button>
			  <button onclick="$('demo').pause()">Pause the Audio</button>
			  <button onclick="$('demo').volume+=0.1">Increase Volume</button>
			  <button onclick="$('demo').volume-=0.1">Decrease Volume</button>
			</div> -->

			<button onclick="c.newgame()">start over</button>
			<button onclick="restart()">new game</button>

			<!-- <div id="preloads"></div>	 -->

			<!-- <audio id="player"></audio> -->


		</div>
	</div>
</div>