<h1>Start a New Game</h1>

<div class="container">
	<div class="row">
		<div class="twelve columns">
			<form class="setupform">
				<button class="active" onclick="fixedtime()">Fixed Time</button>
				<button onclick="fixednum()">Fixed Number of Songs</button>
				<input id="submitbutton" class="button" type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>