.row {
    margin: 15px;
}

.result {
    font-size: 28px;
}

.headbar {
    background-color: black;
    color: white;
    padding: 10px;
    height: 40px;
}

.headimage {
    max-height: 100%;
    width: auto;
}

.title1 {
    color: #555;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
}

.entry {
    background: #eee;
    border-radius: 5px;
    padding: 15px;
    margin: 0px 5px 5px 5px;
    justify-content: space-between;
}

.headerrow {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}

.namespan {
    float: left;
    width: 60%;
    word-wrap: break-word;
}

.timespan {
    float: right;
    width: 20%;
    text-align: right;
}

.scorespan {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    width: 19%;
}

ul {
    line-height: auto;
}

#timelimit {
    margin: 0px;
    border-width: 1px 0px 1px 1px;
    border-radius: 10px 0px 0px 10px;
}

#infinitetime {
    margin: 0px;
    border-width: 1px 1px 1px 0px;
    border-radius: 0px 10px 10px 0px;
}

ul#extreme, ul#ordinary {
    list-style: none;
    padding-left: 0;
    margin-top: 0; 
}

span.dropt {border-bottom: thin dotted;}
span.dropt:hover {text-decoration: none; background: #eeeeee; z-index: 6; }
span.dropt span {position: absolute; left: -9999px;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; 
  border-style:solid; border-color:#bbb; border-width:.5px; width: 500px; border-radius: 5px;}
span.dropt:hover span {left:10%; margin: 20px 0 0 170px; background: #ffffff; z-index:6;}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #eeeeee; border-radius: 30px;
    box-shadow: 0.9px 0.9px 2.2px rgba(0, 0, 0, 0.35), 0px 0px 0.9px rgba(13, 13, 13, 0.35);
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 17px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #0E6FED; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #575757;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 42px; margin: -6px;
    box-shadow: 0.9px 0.9px 2.2px rgba(0, 0, 0, 0.35), 0px 0px 0.9px rgba(13, 13, 13, 0.35);
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}