.status-box {
	background: #eeeeee;
	border-radius: 5px;
	margin: 5px;
	padding: 10px;
}

.status-box:hover {
	background: #ddd;
}

img#albumart {
	max-width:95%;
	max-height:100%;
	border-radius: 8px;
	border: 5px solid #333;
	overflow: auto;
}

.clickable {
	cursor: pointer;
}

.fa.clickable:hover {
	color: #444;
}

.headbar {
    background-color: black;
    color: white;
    padding: 10px;
    height: 40px;
}

.headimage {
    max-height: 100%;
    width: auto;
}


.wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 
  	justify-content: center;
  	align-items: center;
  	
  	text-align: center;
}

.changer {
	max-width:100%;
	max-height:100%;
	align-self: center;
}

.textdisp {
	font-size: 250%;
	padding: 0.5em;
}

.contestmessage {
	padding: 10px;
	margin: 10px;
	background: #FFFDAF;
	border-radius: 8px;
	display: inline-block;
	float: right;
	font-size: 18px;
	vertical-align: middle;
	width: 100%
}

.lefticon {
	display: inline-block;
	vertical-align: text-middle;
	float: left;
	padding-right: 10px;
	padding-left: 5px;

}

#submitbutton {
	background-color: #0E6FED;
	color: #fff;
}

#loading {
	text-align: center;
	color: #555;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

#newg {
	position: relative;
	float: right;
}

#loadingholder {
	position: relative;
}
